<section>
  <form #form="ngForm" (submit)="startSearchByName()" class="form">
    <div class="form__wrapper">
      <img
        *ngIf="!this.themeService.darkMode"
        src="assets/icons/magnifier-light.svg"
        class="form__inputImg"
        alt="Search icon"
      />
      <img
        *ngIf="this.themeService.darkMode"
        src="assets/icons/magnifier-dark.svg"
        class="form__inputImg"
        alt="Search icon"
      />
      <input
        class="form__input"
        type="text"
        placeholder="Search for a country..."
        name="country"
        [(ngModel)]="nameFilter"
      />
    </div>
  </form>
  <div class="filter">
    <button class="filter__btn" (click)="toggleFilter()">
      <p class="filter__txt">
        {{ continentFilter }}
      </p>
      <img
        *ngIf="!this.themeService.darkMode"
        src="assets/icons/arrow-down-light.svg"
        class="filter__img"
        alt="Search icon"
      />
      <img
        *ngIf="this.themeService.darkMode"
        src="assets/icons/arrow-down-dark.svg"
        class="filter__img"
        alt="Search icon"
      />
    </button>
    <ul class="filter__items" *ngIf="showRegion">
      <li class="filter__item" *ngFor="let continent of continents">
        <button
          class="filter__itemBtn"
          (click)="startSearchByRegion(continent)"
        >
          {{ continent }}
        </button>
      </li>
    </ul>
  </div>
</section>
