section {
  padding: 2rem 0;
  padding-inline: var(--padding-inline);
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

section > * {
  border-radius: 0.1rem;
}

.form {
}

.form__wrapper {
  background-color: var(--theme-elements);
  display: flex;
  column-gap: 2rem;
  padding: 1rem 2rem;
  box-shadow: var(--box-shadow);
}

.form__inputImg {
  width: 1rem;
}

.form__input {
  font-size: 1rem;
  width: 100%;
  position: relative;
  border: none;
  outline: none;
  background-color: var(--theme-elements);
  color: var(--theme-input);
}

.form__input::placeholder {
  font-family: 'Nunito Sans';
  font-weight: 1rem;
  color: var(--theme-input);
  font-size: 0.9rem;
}

.filter {
  position: relative;
}

.filter__btn {
  width: 11rem;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  border: none;
  background-color: var(--theme-elements);
}

.filter__img {
  width: 1rem;
}

.filter__txt {
  font-size: 0.9rem;
  font-family: 'Nunito Sans';
}

.filter__items {
  position: absolute;
  list-style-type: none;
  z-index: 999;
  width: 50%;
  background-color: var(--theme-elements);
  margin-top: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
  padding: 1rem 0;
}

.filter__item:hover {
}

.filter__itemBtn {
  width: 100%;
  text-align: left;
  padding-left: 1.2rem;
  background-color: var(--theme-elements);
  border: none;
  font-family: 'Nunito Sans';
  font-size: 1rem;
}

.filter__itemBtn:hover {
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  section {
    width: 100%;
    flex-direction: row;
    row-gap: 0;
    column-gap: 3rem;
    justify-content: space-between;
  }

  .form {
    flex: 0.6;
  }

  .filter__btn {
    column-gap: 1rem;
  }

  .filter__items {
    width: 100%;
  }
}
